# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ / Eclipse / VSCode
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log
logs/
spring.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Java
*.class
*.jar
*.war

# Database
*.h2.db
*.mv.db
*.sqlite
*.db

# Test
/test-output/

# Bat and zip files
*.bat
*.zip